@import url('../styles/global.css');

body {
    width: 250px;
    text-align: center;
}

h1 {
    font-size: 18px;
    font-weight: 600;
    color: #352F44;
}

p {
    font-size: 14px;
    margin-bottom: 20px;
}

#ping {
    background-color: #B0A4E5; /* Lavanda */
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 8px; /* Cantos mais arredondados */
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    transition: background-color 0.2s;
    width: 80%;
}

#ping:hover {
    background-color: #988bc7;
}

#status {
    margin-top: 15px;
    font-size: 12px;
    min-height: 1.2em;
    word-wrap: break-word;
    font-family: 'Courier New', Courier, monospace;
}
